:root {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*
    background-image: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
    */
}

main.background {
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
    position: fixed;
}

.squalish-intro {
    font-size: 70pt;
    text-align: center;
}

.main-content {
    /*margin: 0;*/
    position: absolute;
    -ms-transform: translate(75%, 75%);
    transform: translate(75%, 75%);
    top: 50%;
    left: 50%;
}

.div-music-art-and-info {
    margin: 0;
    width: 480px;
    padding-top: 0;
    display: flex;
    gap: 12px;
}

.div-music-info {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.div-music-info-name {
    margin: -8px 0 0;
    height: 16px;
}

.div-music-info-artist {
    margin: 0;
    height: 24px;
}

.div-music-info-description {
    margin: 8px 0 0;
    height: 68px;
    color: gray;
}

.div-music-info-platforms {
    display: flex;
    gap: 4px;
}

.div-music {
    margin: auto;
    padding-top: 4px;
}

.div-profile {
    padding-top: 6px;
    margin-bottom: 0;
    width: 200px;
    height: 34px;
    outline-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
}

.div-profile-info {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.div-profile-art-and-name {
    margin: 0;
    width: 200px;
    display: flex;
    gap: 8px;
    height: 32px;
}

.div-profile-name {
    top: 8px;
    position: absolute;
}

.div-profile-platform-name {
    position: absolute;
    display: table-cell;
    font-weight: bold;
    text-align: left;
    top: -6px;
}

p.div-profile-name-and-platform {
    text-align: left;
}

.div-profile-name-and-platform {
    display:flex;
    flex: auto;
    width: 0;
    text-align: left;

}

.div-platform-logo {
    width: 32px;
    height: 32px;
}

p.visual-artifacts-counter {
    margin-top: 0;
}

a.a-profile {
    height: 34px;
    width: 200px;
    background-color: rgba(20, 127, 221, 0);
    position: absolute;
}

div.main-content {
    animation-name: windowopen;
    animation-duration: 0.20s;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    height: 90vh;
    overflow: hidden;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

.app-icon {
    width: 100px;
    text-align: center;
    cursor: default;
    user-select: none;
    transition: transform 0.1s ease;
}

.app-icon img {
    margin-top: 5px;
    width: 48px;
    height: 48px;
}

.app-title {
    margin-top: 10px;
    font-size: 14px;
    color: white;
    text-shadow: 1px, 1px, 2px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.app-icon:hover {
    background-color: rgba(60, 60, 60, 0.3);
}

@keyframes windowopen {
    from {
        opacity: 0;
        scale: 0.8;
        -ms-transform: translate(-62.5%, -55%);
        transform: translate(-62.5%, -55%);
    }
    to 
    {
        opacity: 1;
        scale: 1;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @keyframes windowclose {
    from {
        opacity: 1;
        scale: 1;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    to 
    {
        opacity: 0;
        scale: 0.9;
        -ms-transform: translate(-55%, -55%);
        transform: translate(-55%, -55%);
    }
  }