:root {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*
    background-image: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
    */
}

main.background {
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    position: fixed;
}

.squalish-intro {
    font-family: Visitor;
    font-size: 70pt;
    text-align: center;
}

.main-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.div-music-art-and-info {
    margin: 0;
    width: 480px;
    padding-top: 0;
    display: flex;
    gap: 12px;
}

.div-music-info {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.div-music-info-name {
    margin: 0;
    height: 16px;
}

.div-music-info-artist {
    margin: 0;
    height: 24px;
}

.div-music-info-description {
    margin: 0;
    height: 64px;
}

.div-music-info-platforms {
    display: flex;
    gap: 4px;
}

.div-music {
    margin: auto;
    padding-top: 4px;
}

.div-profile {
    margin: 2px;
    padding-top: 6px;
    width: 270px;
    outline: 10px 10px 10px 10px;
    outline-color: black;
    margin-left: -12px;
}

.div-profile-info {
    margin: 0;
    display: flex;
    flex-direction: column;
}

img.div-profile-art {
    margin: 0;
    margin-left: 12px;
    margin-top: -3px;
    image-rendering: pixelated;
    scale: 100%;
}

.div-profile-art-and-name {
    margin: 0;
    width: 320px;
    display: flex;
    gap: 12px;
    height: 32px;
}

.div-profile-name {
    margin: 0;
    height: 12px;
    margin-top: -6px;
}

.div-profile-platform {
    margin: 0;
    height: 12px;
    position: fixed;
    margin-top: -4px;
    left: 60%;
    display: table-cell;
    padding: 10px;
    text-align: center;
}

p.div-profile-name-and-platform {
    text-align: center;
}

.div-profile-name-and-platform {
    display:flex;
    flex: auto;
    width: 0px;
    gap: 0%;
    align-content: left;
    text-align: right;
}

a.a-profile {
    height: 40px;
    width: 270px;
    margin-top: -7px;
    background-color: rgba(20, 127, 221, 0);
    position:absolute;
    display: flex;
}

div.main-content {
    animation-name: windowopen;
    animation-duration: 0.20s;
}

@keyframes windowopen {
    from {
        opacity: 0;
        scale: 0.8;
        -ms-transform: translate(-62.5%, -55%);
        transform: translate(-62.5%, -55%);
    }
    to 
    {
        opacity: 1;
        scale: 1;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }

  @keyframes windowclose {
    from {
        opacity: 1;
        scale: 1;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    to 
    {
        opacity: 0;
        scale: 0.9;
        -ms-transform: translate(-55%, -55%);
        transform: translate(-55%, -55%);
    }
  }